# Virtual environment
venv/

# Environment variables
.env
.env.*
!.env.example

# ML models
models/*.h5
models/*.tflite

# Logs & cache
*.log

# IDE
.vscode/
.idea/
# Virtual environment
venv/


# Python cache
__pycache__/
*.pyc

# SQLite DB
*.db

# Model files
*.keras
*.h5
app/models/best_emotion_model.keras

# OS files
.DS_Store
Thumbs.db


# ML model artifacts
app/ml/model/
*.safetensors
*.bin
