fastapi
uvicorn
sqlalchemy
pydantic
torch
transformers
librosa
pymongo[srv]
python-dotenv
email-validator
certifi
bcrypt==4.0.1
python-jose[cryptography]
passlib[bcrypt]==1.7.4
python-multipart
cloudinary
pillow
opencv-python
torchvision
ultralytics
motor==3.3.2
tensorflow==2.15.0
numpy==1.24.3
scikit-learn==1.3.2
pandas==2.1.4
pydantic-settings
google
google-generativeai
deepface

